<div class="container">
  <table class="table table-bordered">
    <tr>
      <th>Status</th>
      <td><%= @order_status.name %></td>
    </tr>
  </table>

  <div class="buttons">
    <%= link_to edit_order_status_path(@order_status), class: "btn btn-primary" do %>
      <i class="fa fa-pencil"></i>Edit
    <% end %>
    |
    <%= link_to order_statuses_path, class: "btn btn-secondary" do %>
      <i class="fa-solid fa-reply"></i>Back
    <% end %>
  </div>
</div>
